@charset "UTF-8";
/****** http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
******/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    vertical-align: baseline;
}


/****** HTML5 display-role reset for older browsers ******/

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/****** General *******/

*,
*:before,
*:after {
    box-sizing: border-box;
    font: inherit;
    outline: 0;
}

@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(16, 184, 178) -webkit-linear-gradient(bottom, rgb(16, 184, 178), rgb(254, 230, 222)) no-repeat fixed;
    background: rgb(16, 184, 178) -moz-linear-gradient(bottom, rgb(16, 184, 178), rgb(254, 230, 222)) no-repeat fixed;
}

body:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    opacity: 0;
    z-index: 1;
    background: rgb(16, 184, 178) -webkit-linear-gradient(top, rgb(16, 184, 178), rgb(254, 230, 222)) no-repeat;
    background: rgb(16, 184, 178) -moz-linear-gradient(top, rgb(16, 184, 178), rgb(254, 230, 222)) no-repeat;
    background-size: cover;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;    
}

body.loading:after {
    opacity: 1;
}



/****** Fonts ******/

body {
    color: #414f57;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

@media screen and (max-width: 1680px) {
    body {
        font-size: 11pt;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 10pt;
        line-height: 1.75;
    }
}

a {
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
    text-decoration: none;
    outline: 0;
}

a:before {
    -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

a:hover,
a:focus {
    color: #3366CC;
}

i {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #313f47;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.85em;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
}

h2 {
    font-size: 1.25em;
}

h3,
h4,
h5,
h6 {
    font-size: 1em;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.65em;
    }
}

hr {
    border: 0;
    border-bottom: solid 1px #c8cccf;
    margin: 3em 0;
}


/****** Social Icons ******/

ul.social {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -0.675em;
    padding-bottom: 1.2px;
    animation-delay: 1s;
    padding-top: 1.2px;
}
ul.social:last-child {
    padding-bottom: 5em;
}

ul.social li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.social li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 2.80em;
    height: 2.80em;
    border-radius: 100%;
    border: solid 1px #c8cccf;;
    line-height: 2.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 2.75em;
    outline: 0;
}

ul.social li a:before {
    -webkit-webkit-font-smoothing: antialiased;
    -moz-webkit-font-smoothing: antialiased;
    -ms-webkit-font-smoothing: antialiased;
    -o-webkit-font-smoothing: antialiased;
    webkit-font-smoothing: antialiased;
    font-family: FontAwesome, serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    color: #ffffff;
    text-shadow: 1px 0 0 #c8cccf, -1px 0 0 #c8cccf, 0 1px 0 #c8cccf, 0 -1.25px 0 #c8cccf;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.45em;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.social li a:hover,
ul.social li a:focus {
    border-color: #3366CC;
}

@media screen and (max-width: 480px) {
    ul.social li a:before {
        font-size: 1.5em;
    }
}

.mdl-badge {
    z-index: 200;
}



/****** Button ******/

.button {
    vertical-align: middle;
}

.b {
        padding-bottom: 10px;
}



/****** Main ******/

#main {
    position: relative;
    max-width: 100%;
    min-width: 27em;
    padding: 4.5em 2.5em 2.5em 3em !important;
    background: #ffffff;
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: default;
    opacity: 0.95;
    align-self: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#main:hover {
    -webkit-box-shadow: 0 10px 14px rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.7);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#main .avatar {
    position: relative;
    display: block;
    margin-bottom: 3em;
    animation-delay: 1s;
}

#main .avatar img {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    border-color: #c8cccf;
    padding: 6px;
    border-radius: 100%;
    -webkit-box-shadow: 0 8px 12px rgba(200, 95, 66, 0.4);
    box-shadow: 0 2px 6px rgba(200, 95, 66, 0.4);
    border-collapse: separate;
}

@media screen and (max-width: 480px) {
    #main {
        min-width: 0;
        width: 100%;
        padding: 4em 2em 2.5em 2em;
    }
}

body.loading #main {
    opacity: 0;
}

#demo-menu-lower-right {
    position: absolute;
    left: 345px;    
    top: 20px;
}

@media (max-width: 360px)
{
    #demo-menu-lower-right    {
        position: absolute;
        left: 300px;
        top: 20px;
    }
}

@media (min-width: 360px ,max-width: 412px)
{
    #demo-menu-lower-right    {
        position: absolute;
        left: 250px;
        top: 20px;
    }
}

@media (max-width: 320px)
{
    #demo-menu-lower-right    {
        position: absolute;
        left: 250px;
        top: 20px;
    }
}



#spinner
{
    position: absolute;
    left: 150;
    top: 180;
    z-index: 5;
}
/****** Footer ******/

#footer {
    position: relative;
    -webkit-align-self: center;
    align-self: center;
    width: 100%;
    padding: 1.5em 0 0 0;
    color: rgba(255, 255, 255, 0.75);
    cursor: default;
    text-align: center;
}

#footer .copyright {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    list-style: none;
}

#footer .copyright li {
    display: inline-block;
    margin: 0 0 0 0.45em;
    padding: 0 0 0 0.85em;
    line-height: 0.95;
}

#footer .copyright li:first-child {
    border-left: 0;
}

#footer > noscript {
    font-size: 0.7em;
}


/****** Wrapper ******/

#wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-perspective: 1500px;
    perspective: 1500px;
    position: relative;
    padding: 1.25em;
    z-index: 2;
    vertical-align: middle;
}

#wrapper > * {
    z-index: 1;
}

@media screen and (max-width: 360px) {
    #wrapper {
        padding: 0.75em;
    }
}

body.is-ie #wrapper {
    height: 100%;
}


/****** Typed.JS cursor CSS ******/

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/****** Other ******/

#hi {
    animation-delay: 2s;
    font-family:'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    font-weight: 300;
}

#sub-tag {
    opacity: 0;
}

.not-active {
 pointer-events: none;
 cursor: default;
}

::-webkit-scrollbar {
width: 5px;
height: 10px;
}


::-webkit-scrollbar-track-piece  {
background-color: lightgreen;
}

::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: darkgreen;
}


/* vertical or horizontal */
scrollbar[orient="vertical"] {
    color:darkgreen !important ;
}
